@model List<Pokedex.Models.Pokemon>

<h2>Lista de Pokémons</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Pokémon ID
            </th>
            <th>
                Sprite
            </th>
            <th>
                Nome Pokémon
            </th>
            <th>
                Detalhes
            </th>
    </thead>
    <tbody>
        @foreach (Pokemon item in Model)
        {
            <tr>
                <td>
                    @item.PokemonId
                </td>
                <td>
                    <img height="60" src="@item.Url_Sprite" alt="Sprite Frontal"/>
                </td>
                <td>
                    @item.Nome
                </td>
                <td>
                    <a asp-action="Detalhes" asp-route-id="@item.PokemonId">Detalhes</a>
                </td>
            </tr>        
        }
    </tbody>
</table>


