@model Pokedex.Models.Usuario
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="align-content:center; align-items:center; margin-top: 10%">
    <h1 class="display-4"><b>Pokédex Login</b></h1><br />
    <center>
        <form asp-action="Login" style="width:250px;">
            <input asp-for="UsuarioAcesso" placeholder="Usuario de acesso" class="form-control" /><br />
            <input type="password" asp-for="SenhaAcesso" placeholder="Senha de acesso" class="form-control" /><br />
            <button type="submit" class="btn btn-outline-success">Entrar</button>
            @Html.ActionLink("Cadastrar","Cadastro","Home",null,new {@class="btn btn-outline-primary" })
        </form>
    </center>
    <div>
        <br /><br />
        <p>Area de testes</p>
        @Html.ActionLink("Lista de Pokémons", "Visualizar", "Pokemon", new { id = 9 }, new { @class= "btn btn-outline-success"})
        @Html.ActionLink("Lista de Usuarios", "Visualizar","Usuario", null, new {@class = "btn btn-outline-primary"})
    </div>
</div>

