@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="align-content:center; align-items:center;">
    <h1 class="display-4">Pokédex</h1>
    <a class="btn btn-outline-success" href="/Pokemon/Visualizar">Lista de Pokémons</a>
    <a class="btn btn-outline-primary" href="/Usuario/Visualizar">Lista de Usuários</a>
</div>

