@model Pokedex.Models.Usuario
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="align-content:center; align-items:center; margin-top: 5%">
    <img src="https://github.com/Gabriellebru/Pokedex/blob/master/Pokedex/imagens/Login.png?raw=true" alt="Pokédex Login" height="80"/>
    <center>
        <form asp-action="Login" style="width:250px;" autocomplete="off">
            <input asp-for="UsuarioAcesso" placeholder="Usuário de acesso" class="form-control" />
            <span asp-validation-for="UsuarioAcesso" class="text-danger"></span><br />
            <input type="password" asp-for="SenhaAcesso" placeholder="Senha de acesso" class="form-control" />
            <span asp-validation-for="SenhaAcesso" class="text-danger"></span><br>
            <button type="submit" class="btn btn-outline-success">Entrar</button>
            @Html.ActionLink("Cadastrar", "Cadastro", "Home", null, new { @class = "btn btn-outline-primary" })
        </form>
    </center>
    <div>
        <br /><br />
        <p>Area de testes</p>
        @Html.ActionLink("Lista de Pokémons", "Visualizar", "Pokemon", new { id = 9 }, new { @class= "btn btn-outline-success"})
        @Html.ActionLink("Lista de Usuarios", "Visualizar","Usuario", null, new {@class = "btn btn-outline-primary"})
    </div>
</div>

